name: Auto Build Docker Image

on:
  push:
    branches:
      - main
      - dev
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Show repo files (debug)
        run: ls -la

      - name: Build Docker image
        run: docker build -t seven-stones-game:latest .
