name: Dev Deployment

on:
  push:
    branches: [dev]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - run: docker build -t sevenstones/game .
      - run: echo "Deploy to Azure Dev Web App"
